@font-face {
  font-family: "EuclidCircularB";
  src: url("https://stijndv.com/scss/fonts/EuclidCircularB-Regular-WebS.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "EuclidCircularB";
  src: url("https://stijndv.com/scss/fonts/EuclidCircularB-Medium-WebS.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "EuclidCircularB";
  src: url("https://stijndv.com/scss/fonts/EuclidCircularB-Bold-WebS.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
